
body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
text-align: center;

}
input {
    width:50%;
    padding: 10px 5px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid darkblue;
    border-radius: 17px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input:hover {
    border-color: #0056b3;
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#button-sum{
    background: blue;
}
#button-substract{
    background: red;
}
#button-devide{
background: green;
}
#button-multiply{
    background: blueviolet;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}